<!DOCTYPE html>
<html>
    <head>
        <title>CONTACT US</title>
       
    </head>
    <body>
       <div style ="height:auto;width:auto" class= "wrapper row4">
  <div class="rounded">
    <footer id="footer" class="clear"> 
      <!-- ################################################################################################ -->
      <div class="one_third first">
        <figure class="center"><img class="btmspace-15" src="images/demo/worldmap.png" alt="">
          <figcaption><a href="#">Find Us With Google Maps &raquo;</a></figcaption>
        </figure>
      </div>
      <div style="border:2px solid blue;position:relative;display:inline;clear:right" class="one_third">
        <address>
        WORKER PORTAL<br>
        4/B BHAVANA SOC.AJWA ROAD.<br>
        VADODARA,<br>
        390019<br>
        <br>
        <i class="fa fa-phone pright-10"></i>1800 1800 9999<br>
        <i class="fa fa-envelope-o pright-10"></i> <a href="#">contact@domain.com</a>
        </address>
      </div>
      <div class="one_third">
        <p class="nospace btmspace-10">Stay Up to Date With What's Happening</p>
        <ul class="faico clear">
          <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter">TWITTER</i></a></li>
          <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin">FACEBOOK</i></a></li>
          <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook">APPYGEEK</i></a></li>
          <li><a class="faicon-flickr" href="#"><i class="fa fa-flickr"></i>INSTAGRAM</a></li>
          <li><a class="faicon-rss" href="#"><i class="fa fa-rss"></i>NEWS</a></li>
        </ul>
        <form class="clear" method="post" action="#">
          <fieldset>
            <legend>Subscribe To Our Newsletter:</legend>
            <input type="text" value="" placeholder="Enter Email Here&hellip;">
            <button class="fa fa-sign-in" type="submit" title="Sign Up"><em>Sign Up</em></button>
          </fieldset>
        </form>
      </div>
      <!-- ################################################################################################ --> 
    </footer>
  </div>
</div>
        </body>
    </html>